/* =========================
   LOGIN COMPONENT
   ========================= */

.navbar {
    padding: 64px 0 16px;
}

.signup-submit {
    margin-top: 23px;
}

.login-text {
    margin-top: 49px;
}